<%- include ('includes/header.ejs') -%>
<div class="products-catagories-area clearfix">
    <div class="amado-pro-catagory clearfix">
    <%  if(typeof product === 'object'){
            for(let i in product){ %>
        <div class="single-products-catagory clearfix">
            <a href="shop_item?id=<%= product[i].id %>">
                <img src="img/product-img/<%= product[i].header_img %>" alt=""/>
                <!-- Hover Content -->
                <div class="hover-content">
                    <div class="line"></div>
                    <p>From $180</p>
                    <h4><%= product[i].header %></h4>
                    <% 
                    if(typeof user == 'object'){
                        if(user['status'] == 'admin'){ %>
                    <div style="height:100px;width: 100%;"></div>
                    <div class="row">
                        <div class="col-4">
                            <form action="/admTools">
                                <input type="text" name="update" value="{'id':<%= product[i].id %>}" style="display: none;">
                                <button type="submuit">update</button>
                            </form>
                        </div>
                        <div class="col-4">
                            <button>delete</button>
                        </div>
                    </div>
                    <%
                        }
                    }
                    %>
                </div>
            </a>
        </div>

    <% 
            }
        }
        else {
    %>
            Տվյալ պահին ոչինչ չի վաճառվում
    <%  } %>
    </div>
</div>
<%- include ('includes/footer.ejs') -%>