<%- include ('includes/header.ejs') -%>
<%
	let errArr = ['','ձեր նաերմուծաց El-հասցեն կամ Գաղտնաբառը սխալ է','input type error']
	if(typeof input == 'object');else
		input = {'email':'',pass:''}
	if(typeof err == 'string');else err = 0;
%>
<!-- <div class="container login" >
	<div class="login__input-box input-box row">
		<div class="col-lg-6 mx-auto">
			<br><h1 class="my-10">LOGIN</h1><br>
			<form action="/user/login" method="POST">
				<input type="email" name="email"  class="form-control" placeholder="input your email" value="<%= input.email %>"/>
				<input type="password" name="pass"   class="form-control" placeholder="input your password" value="<%= input.pass %>" />
				<div class="row">
					<div class="col-8">
						<h3 class="text-danger"><%= errArr[err] %></h3>
					</div>
				</div>
				<div class="row">
					<div class="col-6">
						if you don’t have an account,then please 
						<a class="text text-info" href="/register">register</a>.
					</div>
					<div class="col-6">
						<input type="submit" name="login_sub" style="font-size: 24px"
						class="w-100 h-100 btn btn-outline-primary" value="send"/>
					</div>
				</div>
			</form>
		</div>
	</div>
</div> -->
<div class="cart-table-area section-padding-100">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12 col-lg-12">
				<div class="checkout_details_area mt-50 clearfix">
					<div class="cart-title">
						<pre><h2>Մուտքագրվել</h2></pre>
					</div>
					<form action="/user/login" method="POST">
						<div class="row">
							<div class="col-12 mb-3">
								<input type="email" name="email" class="form-control" id="email" placeholder="El-հասցե" value="<%= input.email %>">
							</div>
							<div class="col-12 mb-3">
								<input type="password" name="pass" class="form-control mb-3" id="password" placeholder="Գաղտնաբառ" value="<%= input.pass %>">
							</div>
							<div class="col-12 mb-3">
								<input type="submit" name="login_sub" class="btn amado-btn w-100" id="submit" value="Մուտք գորձել">
							</div>
							<% 	if(err){ %>
								<div class="col-12 mt-3 text-danger">
									<%= errArr[err] %>
								</div>
							<% 	} %>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<%- include ('includes/footer.ejs') -%>